{{- $customUsername := promptString "Enter your desired username: " .chezmoi.username -}}
{{- $customHostname := promptString "Enter your desired hostname: " .chezmoi.hostname -}}
data:
    customUsername: {{ $customUsername | quote }}
    customHostname: {{ $customHostname | quote }}
